.error h1 {
    font-weight: 400;
    font-size: 40px;
    color: red;
}

.error p {
    font-size: 35px;
    color: red;
}

.error {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
}